body{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(102, 155, 155) ;
}
button{
    cursor: pointer;
    margin-bottom: 10px;
    box-shadow: #333;
}